{% extends 'AppBundle::layout.html.twig' %}
{% block content %}
<a href="{{ path('app_index') }}"> <- Назад</a>
    <h1>Здания</h1>
    <h2>{{ "farm.name"|trans({}, 'building')|raw }}</h2>
    <p>
        {{ "farm.title"|trans({}, 'building')|raw }}
    </p>
    <p class="remark">
        * {{ "farm.remark"|trans({}, 'building')|raw }}
    </p>



{% endblock %}