{% extends 'AppBundle::layout.html.twig' %}
{% block content %}
    <h2>Здания</h2>

    <h3>Ферма</h3>
    <p>
        <strong>Ферма</strong> - производит еду, самый востребованный ресурс в игре. Востребованный, потому, что еда
        расходуется не только при активных действиях строительстве зданий и их улучьшении, найме войска, изучении науки,
        но и в пассивном режиме на содержании войск.
    </p>
    <p class="remark">
        * Строить и модернизировать нужно это здание в максимально доступном колличестве, сейчас это 10 шт.
    </p>

    <h3>Лесопилка</h3>
    <p>
        <strong>Лесопилка</strong> - производит лес. <strong>Лес</strong> - востребованный ресурс при строительстве и
        улучьшении зданий, найме войск и изучении наук.
    </p>
    <p class="remark">
        * Строить и модернизировать нужно это здание в максимально доступном колличестве.
    </p>

{% endblock %}