{% extends 'AppBundle::layout.html.twig' %}
{% block content %}
<a href="{{ path('app_index') }}"> <- Назад</a>
    <h2>Здания</h2>

    <h3>Ферма</h3>
    <p>
        <strong>Ферма</strong> - производит еду, самый востребованный ресурс в игре. Востребованный, потому, что еда
        расходуется не только при активных действиях строительстве зданий и их улучьшении, найме войска, изучении науки,
        но и в пассивном режиме на содержании войск.
    </p>
    <p class="remark">
        * Строить и модернизировать нужно это здание в максимально доступном колличестве, сейчас это 10 шт.
    </p>

    <h3>Лесопилка</h3>
    <p>
        <strong>Лесопилка</strong> - производит лес. <strong>Лес</strong> - востребованный ресурс при строительстве и
        улучьшении зданий, найме войск и изучении наук.
    </p>
    <p class="remark">
        * Строить и модернизировать нужно это здание в максимально доступном колличестве.
    </p>

    <h3>Больница</h3>
    <p>
        <strong>Больница</strong> - лечит ранненых солдат. Ранение солдаты могут получить во время атаки монстров или
        при обороне замка.
    </p>
    <p class="remark">
        * Строить и модернизировать рекомендую в колличестве 3 шт.
    </p>

    <h3>Военная палатка</h3>
    <p>
        <strong>Военная палатка</strong> - определяет одновременного колличество обучаемых войск. Тоесть чем больше у вас
        палаток тем больше войск вы сможете рекрутировать за раз.
    </p>
    <p class="remark">
        * Строить и модернизировать рекомендую в колличестве 3 шт.
    </p>

    <h3>Замок</h3>
    <p>
        <strong>Замок</strong> - самое основное здание. Уровень замка определяет возможный уровень остальных сооружений.
        То есть в городе не может быть сооружения выше уровнем чем замок. Также некоторые здания становятся доступны с
        определенного уровня замка.
    </p>
    <p class="remark">
        * Возможно только в единственном числе.
    </p>
    <h3>Крепость</h3>
    <p>
        <strong>Крепость</strong> - здание где строятся защитные сооружения и ловушки. Ловушки нужны для обороны замка при
        нападении.
    </p>
    <p class="remark">
        * Возможно только в единственном числе.
    </p>

    <h3>Колледж</h3>
    <p>
        В <strong>колледже</strong> изучаются науки четырех направлений "Ресурсы", "Развитие", "Защита Города", "Военные".
        Изучение данных наук улучьшают/ускоряют/усиливают ваши способности в данных направлениях.
    </p>
    <p class="remark">
        * Возможно только в единственном числе.
    </p>
    <h3>Стрельбище</h3>
    <p>
        <strong>Стрельбище</strong> - здание для тренировок лучников. Сейчас доступно десять видов.
    </p>
    <p class="remark">
        * Возможно только в единственном числе.
    </p>

    <h3>Завод коллесниц</h3>
    <p>
        <strong>Завод коллесниц</strong> - здание для постройки осадных войск. Сейчас доступно десять видов.
    </p>
    <p class="remark">
        * Возможно только в единственном числе.
    </p>

    <h3>Казарма</h3>
    <p>
        <strong>Казарма</strong> - здание для тренировки пехоты. Сейчас доступно десять видов.
    </p>
    <p class="remark">
        * Возможно только в единственном числе.
    </p>

    <h3>Конюшня</h3>
    <p>
        <strong>Конюшня</strong> - здание для тренировки кавалерии. Сейчас доступно десять видов.
    </p>
    <p class="remark">
        * Возможно только в единственном числе.
    </p>
    <h3>Стена</h3>
    <p>
        <strong>Стена</strong> - место для размещения защитников города и ловушек. Позволяет вышить защитникам, при
        нападении защитники получают ранения, а не погибают. Раненые защитники попадают в больницу.
    </p>
    <p class="remark">
        * Возможно только в единственном числе.
    </p>

    <h3>Сторожевая башня</h3>
    <p>
        <strong>Сторожевая башня</strong> - Предупреждает вас о разведке и нападении на ваш замок. Является источником
        информации о противнике. Информация становится тем детальнее, чем выше уровень этого сооружения.
    </p>
    <p class="remark">
        * Возможно только в единственном числе.
    </p>
    <h3>Учебный плац</h3>
    <p>
        <strong>Учебный плац</strong> - определяет размер армии в походе. Чем выше уровень этого сооружения тем больше
        армию вы сможете отправить в поход (напасть на противника, монстра, собирать ресурсы).
    </p>
    <p class="remark">
        * Возможно только в единственном числе.
    </p>
    <h3>Рынок</h3>
    <p>
        <strong>Рынок</strong> - позволяет торговать учасникам альянса между собой. Рынок получает большой процент от
        вашей деятельности. Процент уменьшается с увеличением уровня здания.
    </p>
    <p class="remark">
        * Возможно только в единственном числе.
    </p>





{% endblock %}