{% extends 'AppBundle::layout.html.twig' %}
{% block content %}
    <h2>Быстрый старт</h2>
    <p>
        <ol>
            <li>Получить ресурсы по <a href="{{ path('app_invite_code') }}"> пригласительному коду</a> <strong>7603a4bf9b9f</strong><br></li>
            <li>Не нападай на других играков до 6 уровня. Нападение снимит щит мира и твой замок станет легкой мишенью</li>
            <li>Выполняй задания, за них дают хорошее вознаграждение</li>
            <li>Не добывай золото в рудниках, а получай его за задания</li>
            <li>Выбирай стратегию развития замка в сторону добычи ресурсов. Строй максимум ферм и лесопилок и модернизируй вместе с замком.</li>
            <li>Выбирай стратегию развития героя в сторону развития добычи ресурсов. Еда самый востребованный ресурс вам нужно кормить армию.</li>
            <li>Убивай монстров, за них дают хорошие вещи, плюс опыт.</li>
            <li>Вступай в клан или создай свой. Членство в клане дает ряд преимуществ.</li>
            <li>Договаривайся с агрессорами, иногда достаточно простого общения для прекращения атак на твой замок.</li>
        </ol>
    </p>
{% endblock %}