{% extends 'AppBundle::layout.html.twig' %}
{% block content %}
    <a href="{{ path('app_index') }}"> <- Назад</a>
    <h2>Как выжить</h2>
    <p>
        Пока ваш замок не достиг шестого уровня над вашим замком установлен щит мира, который защищает вас от любых нападения.
        Будте внимательны <strong>щит можно потерять напав на другой замок</strong>. Так, что я не рекоммендую нападать до
        достижения вашим замком шестого уровня.
    </p>
     <p>
         Обычно королевство заселяют игроками от центра к краям равномерно, это значит, что рядом с вами будут игроки не намного
         отличающиеся уровнем от вас +-. Ваша задача развиваться быстрее их. Развиватся значит строить и улучьшать
         сооружения замка и создавать армию. Стройте и улучьшайте без остановок.
     </p>
    <p>

        В начале игры вы будите испытывать дефицит в еде
    </p>
{% endblock %}