{% extends 'ClashOfKingsAppBundle::layout.html.twig' %}
{% block content %}

    <p>
        {{ 'index.intro'|trans|raw }}
    </p>
    <h1>{{ 'index.head'|trans|raw }}</h1>
    <p>
        {{ 'index.advice'|trans({
            '%survivePath%':      path('app_advice', {'advice':'survive'}),
            '%inviteCodePath%':   path('app_advice', {'advice':'inviteCode'}),
            '%activationCodePath%':   path('app_advice', {'advice':'activationCode'}),
            '%buildingListPath%': path('buildingList'),
        })|raw }}
    </p>

{% endblock %}