{% extends 'ClashOfKingsAppBundle::layout.html.twig' %}
{% block content %}
<a href="{{ path('home') }}"> <- Назад</a>
<h2>Как ввести пригласительный код</h2>
    <p>
        <ol>
            <li>Кликните на иконку вашего героя <br><img src="/bundles/app/img/invite/avatar.png"></li>
            <li>Затем на иконку настроек, в нижнем правом углу <br><img src="/bundles/app/img/invite/properties.png"></li>
            <li>В списке настроек выперите иконку "Пригласить" <br><img src="/bundles/app/img/invite/invite.png"></li>
            <li>Появится поле с предложением ввести код <br><input type="text" value="7603a4bf9b9f"></li>
            <li>Введите этот код <strong>7603a4bf9b9f</strong> и получите 200 золота и ресурсы</li>

        </ol>
    </p>
{% endblock %}