{% extends 'ClashOfKingsAppBundle::layout.html.twig' %}
{% block content %}
    <a href="{{ path('home') }}"> <- {{ 'back'|trans }}</a>
    <h1>{{ 'survive.head'|trans }}</h1>
    {{ 'survive.content'|trans|raw }}

{% endblock %}