body {
    background-image: url("/bundles/app/img/background_stone.jpg");
    width: 100%;
    height: 100%;
    margin: 0;
}
h1 {
    text-align: center;
}
#mainDiv {
    border: 2px solid #696969;
    background-color: #a39279;
    padding: 5px;
    color: #271200;
    margin: 5px;
}

#headDiv {
    background-image: url("/bundles/app/img/background_head.jpg");
    color: #ffffff;
    font-size: large;
    font-weight: bold;
    border: 2px solid #696969; /* Параметры границы */
    padding: 3px; /* Поля вокруг текста */
    text-align: center;
    margin: 5px;
}